.env
__pycache__
*.mp3
.vscode
Database/gothy
nhenpy/cache.nhentai.net/*
cache.nhentai.net/*
.mypy_cache/*
environment/.mypy_cache/*
scripts/bot/cache.nhentai.net/*
try_seek.py
Database
scripts/others/test.py
cache.bot
cache.nhentai.net
Bin
Fonts
venv
