aiohttp
async-timeout
attrs
beautifulsoup4
bs4
certifi
cffi
chardet
colorama
colorthief
discord.py
gitdb
GitPython
idna
lxml
lyricsgenius
multidict
Pillow
praw
prawcore
pycparser
PyNaCl
pytesseract
python-dotenv
requests
selenium
six
smmap
tqdm
update-checker
urllib3
websocket-client
websockets
yarl
youtube-dl